.recipe{
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background:white;
    align-items: center;
    min-width: 40%;
    line-height: normal;
    width: 320px;
}
.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.imagerecipe{
    object-fit: contain;
}